<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Água</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agua</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Atleta bebendo água." src="https://img.freepik.com/fotos-gratis/esbelto-e-jovem-esportista-se-refrescando-bebendo-agua-de-uma-garrafa-de-plastico-ao-sol-da-manha-ouvir-suas-musicas-favoritas-enquanto-corre_176420-19871.jpg" />
    <ion-card-header>
      <ion-card-title >Hidratação </ion-card-title>
      <ion-card-subtitle>calculadora de quantidade de água ideal por dia </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      forneça o seu peso e saiba o quanto de água você deve ingerir por dia.

      <ion-item>
        <ion-label position="floating">peso(kg)</ion-label>
        <ion-input type="number" [(ngModel)]="pesoCorporal"></ion-input>
      </ion-item>
  
      
  
      <ion-button expand="full" (click)="calcularAgua()">confirmar</ion-button>
    
      
    
    </ion-card-content>
  
    

    
  </ion-card>
    
</ion-content>
