

.smallbutton {
  font-size: 12px; /* Tamanho da fonte */
  padding: 8px 90px; /* Espaçamento interno (top/bottom e left/right) */
}
.card {
    background-color: #000; // black
    box-shadow: none;
  }



